/* DEFAULTS*/

head { direction: rtl; }

/*Put direction:rtl in the body to flip the whole page*/

body { background: white; font-size: .80em; font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif; margin: 0px; padding: 0px; color: black;}
a:link, a:visited { color: #034af3; }
a:hover { color: #1d60ff; text-decoration: none; }
a:active { color: #034af3; }
p { margin-bottom: 10px; line-height: 1.6em; }

/* HEADINGS */

h1 { font-size: 1.6em; padding-bottom: 0px; margin-bottom: 0px; }
h2 { text-decoration: underline; font-size: 10pt;}
h3 { font-size: 1.2em; text-align:center; }
h4 { font-size: 1.1em; }
h5, h6 { font-size: 1em; }

.Title { color: Black; font-size: 2.5em; font-weight: 600;}
.SearchTable {text-align: center; font-weight: bold; font-size:medium; position:absolute; top:50px;}
.ClickableText {color: Blue; text-decoration:none;}
.NormalBorder {height: 24px; }
.SearchBox {border-width: medium; height:17px; border-style:groove; margin-top:1px; width: 140px;}

.SearchIcon {margin-top:10px;}

.highlight { background-color: yellow }
/* this rule styles <h1> and <h2> tags that are the first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0px; }

/* PRIMARY LAYOUT ELEMENTS   */

.page { width: 100%; background-color: white; margin: 20px auto 0px auto; border: 1px solid #496077; direction:rtl; }
.header { position: relative; margin: 0px; padding: 0px; background: #4b6c9e; width: 100%; }
.header h1 { font-weight: 700; margin: 0px; padding: 0px 0px 0px 20px; color: #f9f9f9; border: none; line-height: 2em; font-size: 2em; }
.main { padding: 0px 12px; margin: 12px 8px 8px 8px; min-height: 420px; }
.leftCol { padding: 6px 0px; margin: 12px 8px 8px 8px; width: 200px; min-height: 200px; }
.footer { color: #4e5766; padding: 8px 0px 0px 0px; margin: 0px auto; text-align: center; line-height: normal; }
.BigButton {font-size: large; width: 180px;}
.BigButtonDiv {position:absolute; left: 35%; margin-left: -75px; }
.center {text-align:center;}
.MiddleWidth {width: 60px;}
.BigWidth {width: 140px;}
.FullWidth {width: 98%;}
.ErrorMessage {color: Red; font-family:Tahoma; direction:rtl; font-size:medium; font-weight:bold;}

                                                                                                                                /*       GRIDSTYLE       */
                                                                                                                                /*        ----------------       */

/*      COMBOBOX        */

.ajax__combobox_textboxcontainer, .ajax__combobox_buttoncontainer {padding: 0px 0px 0px 0px !important; border:none !important; overflow:hidden !important; direction:rtl; text-align:center;}
.ComboBox {height:0px; direction:rtl; text-align:center;}
li {text-align: center; }
.GridStyle .ajax__combobox_textboxcontainer input {width:60px; text-align:center; direction:rtl;}
/*check out RenderMode in combobox server properties*/

.TableInsideGrid td { width: 120px; }
/*border:0px !important; height:32px !important;}*/

Table {border-spacing: 0px !important;}

.error{
    background-color:red;
    padding: 5px;
}

/*   GENERAL GRIDVIEW     */
.GridStyle TR TD, .GridStyle TR TH, .GridStyle textarea { font-family: Tahoma, Verdana, Arial; font-size: 10pt; direction: rtl;}
.GridStyle TR { height: 35px; }
.GridStyle td {text-align:center; overflow:auto; direction:rtl;}
.GridHeader th {border: 1px solid gray; height:207px; direction:rtl;}
.CellText {text-align: center; width:95%; background-color:transparent; border: none; font-size: 10pt;}
.CellInput {text-align: center; width:95%; background-color:transparent; border: none; font-size: 10pt;}
.EditingMode {background-color: yellow;}
.ChangesSaved {color:white; text-align:center; background:#33AD33; border-style:none; resize:none; width:50px;}

/*    NESTED GRIDVIEW     
/*display:table is to prevent the header line from aliging to the middle*/
.NestedGrid { display: table !important; height:50px;}

/*      GRADIENT - HEADER        */

.GridHeader {
    direction:rtl;
    background: rgb(143,143,160); /* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhmOGZhMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUzJSIgc3RvcC1jb2xvcj0iI2VlZWZlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4ZjhmYTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(143,143,160,1) 0%, rgba(238,239,236,1) 53%, rgba(143,143,160,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(143,143,160,1)), color-stop(53%,rgba(238,239,236,1)), color-stop(100%,rgba(143,143,160,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(143,143,160,1) 0%,rgba(238,239,236,1) 53%,rgba(143,143,160,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(143,143,160,1) 0%,rgba(238,239,236,1) 53%,rgba(143,143,160,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(143,143,160,1) 0%,rgba(238,239,236,1) 53%,rgba(143,143,160,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(143,143,160,1) 0%,rgba(238,239,236,1) 53%,rgba(143,143,160,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( StartColorStr='#8f8fa0', EndColorStr='#FFFFFF',GradientType=0 ); /* IE6-8 */
}

.GridStyle .alt { /*Alternating row style */
    background: rgb(237,237,237); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjZmNmZDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(237,237,237,1) 3%, rgba(207,207,215,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(3%,rgba(237,237,237,1)), color-stop(100%,rgba(207,207,215,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(237,237,237,1) 3%,rgba(207,207,215,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(237,237,237,1) 3%,rgba(207,207,215,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(237,237,237,1) 3%,rgba(207,207,215,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(237,237,237,1) 3%,rgba(207,207,215,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#cfcfd7',GradientType=0 ); /* IE6-8 */
}

.ApplicantTable tr td input { text-align: center; }
.NarrowInputs input {width: 100px; }
.ApplicantTable span { font-weight: bold; }
.ApplicantTable div { float: left; display:inline-block; width:auto; border:none !important; margin-right:20px;}










/* TAB MENU   */

div.hideSkiplink { background-color: #3a4f63; width: 100%; }
div.menu { padding: 4px 0px 4px 8px; }
div.menu ul { list-style: none; margin: 0px; padding: 0px; width: auto; }
div.menu ul li a, div.menu ul li a:visited { background-color: #465c71; border: 1px #4e667d solid; color: #dde4ec; display: block; line-height: 1.35em; padding: 4px 20px; text-decoration: none; white-space: nowrap; }
div.menu ul li a:hover { background-color: #bfcbd6; color: #465c71; text-decoration: none; }
div.menu ul li a:active { background-color: #465c71; color: #cfdbe6; text-decoration: none; }














/* FORM ELEMENTS  */

fieldset { margin: 1em 0px; padding: 1em; border: 1px solid #ccc; }
fieldset p { margin: 2px 12px 10px 10px; }
fieldset.login label, fieldset.register label, fieldset.changePassword label { display: block; }
fieldset label.inline { display: inline; }
legend { font-size: 1.1em; font-weight: 600; padding: 2px 4px 8px 4px; }
input.textEntry { width: 320px; border: 1px solid #ccc; }
input.passwordEntry { width: 320px; border: 1px solid #ccc; }
div.accountInfo { width: 42%; }

/* MISC  */

.clear { clear: both; }
.loginDisplay { font-size: 1.1em; display: block; text-align: right; padding: 10px; color: White; }
.loginDisplay a:link { color: white; }
.loginDisplay a:visited { color: white; }
.loginDisplay a:hover { color: white; }
.failureNotification { font-size: 1.2em; color: Red; }
.bold { font-weight: bold; }
.submitButton { text-align: right; padding-right: 10px; }


/**
 * jQuery highlightTextarea 2.0
 *
 * Copyright 2012, Damien "Mistic" Sorel
 *    http://www.strangeplanet.fr
 */

/*.highlightTextarea {
  position: relative;
  overflow: hidden;
}
.highlightTextarea  .highlighterContainer {
  position: absolute;
  border: none;
  margin: 0;
  overflow: hidden;
}
.highlightTextarea  .highlighter {
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  color: transparent;
  cursor: text;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.highlightTextarea  .highlighter.debug {
  color: #f00;
  border: 1px solid #f00;
  margin: -1px;
}
.highlightTextarea textarea {
  position: absolute;
  left: 0;
  top: 0;
  resize: none;
  white-spaces: pre-wrap;
  word-wrap: break-word;
}
.highlightTextarea  .highlight {
  line-height: inherit;
}
.highlightTextarea .ui-resizable-se {
  bottom: 13px;
  right: 1px;
}*/